/* Colour Palette 
----------------------------------------------
Black: 							#0D0D0D
Page Background: 				#F2F2F2
Secondary Background Colour: 	#FFFFFF
Icons/buttons/header/footer:    #1D2540
Secondary Buttons/hoober: 		#7A778C
----------------------------------------------
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #f2f2f2;
}

header {
    background-color: #1d2540;
    padding: 60px;
    width: auto;
    height: 180px;
}

h3,
p {
    font-family: 'Work Sans', sans-serif;
    display: inline;
}

h1 {
    font-family: 'Aleo', serif;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

.signup-link {
    text-align: center;
    color: black;
}

/* Navigation Bar 
----------------------------------------------------------*/
nav {
    display: flex;
    color: #ffffff;
    max-width: 100%;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 30px;
    padding-top: 70px;
    transform: translateY(-50%);
}

nav .logo {
    cursor: pointer;
    display: flex;
    width: 250px;
    padding-right: 45px;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;

}

nav .search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search-box,
input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 5px 10px;
    font-size: 21px;
    width: 550px;
}

nav .search-box span {
    color: #1D2540;
    font-size: 21px;
    background: #ffffff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

ul {
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
}

nav ul {
    padding: 0px;
}

.icons li {
    display: inline-block;
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.link {
    padding-top: 6px;
}

i {
    margin-right: 10px;
}

.lower-nav {
    display: none;
    background: #FFF;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.lower-nav a {
    display: inline-block;
    margin: 0px 45px;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

#hamburger-menu {
    display: none;

}

label {
    padding-left: 15px;
}

#hamburger-menu:checked~.lower-nav {
    display: grid;
    text-align: left;
    border: none;
}



/* Products 
-----------------------------------------------*/

.featured {
    display: grid;
    max-width: 1300px;
    margin: 50px auto;
    grid-gap: 70px;
    grid-template-columns: repeat(3, auto);
}

.products {
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.products h3 {
    grid-column: 1;
    font-size: 1em;
    margin-bottom: 10px;

}

.products img {
    grid-column: -1/1;
}

.featured-products {
    background-color: #fbfbfb;
}

/* Products Sale 
-----------------------------------------------*/
.old-price {
    text-decoration: line-through;
}

.sale {
    color: red;
    display: grid;

}

/* Product cta
-----------------------------------------------*/
.cta {
    background-color: #1D2540;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 10px;
}

.cta-large {
    padding: 10px 40px;
}

.cta-small {
    padding: 8px 30px;
    grid-column: 2;
    min-width: 50px;
    text-align: center;
}

.pre-order {
    padding: 8px 15px;
}

/* Footer
-----------------------------------------------*/
footer {
    padding-top: 250px;
}

footer h2 {
    text-decoration: underline;
}

.main-footer {
    background-color: #1D2540;
    color: #ffffff;
    padding-left: 15%;
}

.main__container {
    margin-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 30px;

}

.main-footer,
.main__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 100px;
}

.information,
.social,
.support {
    text-decoration: underline;
    font-size: 21px;
}

.copyright-bottom {
    text-align: center;
    background-color: #1D2540;
    color: #FFF;
    padding-top: 15px;
}


/* Media Queries
-----------------------------------------------*/

@media (min-width: 400px) {
    .product-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured {
        grid-template-columns: repeat(1, 1fr);
    }

    nav {
        display: block;
    }

    nav,
    .icons {
        padding: 15px 30px;
    }


    .lower-nav a {
        margin: 0px 45px;
        text-decoration: none;
        color: black;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
    }

    .main-footer {
        grid-template-columns: repeat(1, 1fr);
    }

    nav .search-box {
        display: flex;
        width: 100%;
        height: 100%;
    }

}

@media (min-width: 600px) {

    .featured {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .lower-nav a {
        margin: 0px 45px;
        text-decoration: none;
        color: black;
        font-family: 'Work Sans', sans-serif;
        font-size: 19px;
    }
}

@media (min-width: 800px) {
    .featured {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .logo {
        position: relative;

    }
}

@media (min-width: 1000px) {
    .featured {
        grid-template-columns: repeat(3, 1fr);
    }

    .main-footer {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        display: flex;
        color: #ffffff;
        max-width: 100%;
        position: relative;
        justify-content: space-evenly;
        text-align: center;
        padding: 15px 30px;
        padding-top: 70px;
        transform: translateY(-50%);
    }

    nav .search-box {
        display: flex;
        margin: auto 0;
        height: 35px;
        line-height: 35px;
    }

    nav .search-box,
    input {
        border: none;
        outline: none;
        background: #fff;
        height: 100%;
        padding: 5px 10px;
        font-size: 21px;
        width: 550px;
    }

    .lower-nav {
        display: block;
        background: #FFF;
        text-align: center;
        padding: 10px 0px;
        border-bottom: 1px solid black;
    }

    .lower-nav a {
        display: inline-block;
        margin: 0px 45px;
        text-decoration: none;
        color: black;
        font-family: 'Work Sans', sans-serif;
        font-size: 19px;
    }

    label {
        display: none;
    }



}