/* Colour Palette 
----------------------------------------------
Black: 							#0D0D0D
Page Background: 				#F2F2F2
Secondary Background Colour: 	#FFFFFF
Icons/buttons/header/footer:    #1D2540
Secondary Buttons/hoober: 		#7A778C
----------------------------------------------
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  font-family: "Work Sans", sans-serif;
}
h3,
p {
  font-family: "Work Sans", sans-serif;
  display: inline;
}
h1 {
  font-family: "Aleo", serif;
  font-size: 35px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.signup-link {
  text-align: center;
  color: black;
}

a {
  color: inherit;
}

/* Navigation Bar 
----------------------------------------------------------*/
nav {
  display: flex;
  width: 100%;
  background: #1d2540;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
}

nav .icon {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}

nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
}

nav ol li {
  margin: 0 2px;
}

nav ol li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px 10px;
}

nav ol li:hover a {
  background: #fff;
  color: #1d2540;
}

nav .search_box {
  display: flex;
  margin: auto 0;
  height: 35px;
  line-height: 35px;
}

nav .search_box input {
  border: none;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  width: 350px;
}

nav .search_box span {
  color: #1d2540;
  font-size: 20px;
  background: #fff;
  height: 100%;
  padding: 8px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

nav .search_box span:hover {
  color: #fff;
}

nav .search_box span::after {
  height: 100%;
  width: 0%;
  content: "";
  background: #7a778c;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}

nav .search_box span:hover::after {
  width: 100%;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}

nav .bar span {
  position: absolute;
  color: #fff;
  font-size: 35px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

i {
  margin-right: 10px;
}

/* Products 
-----------------------------------------------*/

.games {
  display: grid;
  max-width: 1300px;
  margin: 50px auto;
  grid-gap: 70px;
  grid-template-columns: repeat(3, auto);
}

.products {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: auto;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.products h3 {
  grid-column: 1;
  font-size: 1em;
  margin-bottom: 10px;
}

.products img {
  grid-column: -1/1;
}

.featured-products {
  background-color: #fbfbfb;
}

/* Products Sale 
-----------------------------------------------*/
.old-price {
  text-decoration: line-through;
}

.sale {
  color: red;
  display: grid;
}

/* Product cta
-----------------------------------------------*/
.cta {
  background-color: #1d2540;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
}

.cta-large {
  padding: 10px 40px;
}

.cta-small {
  padding: 8px 30px;
  grid-column: 2;
  min-width: 50px;
  text-align: center;
}

.pre-order {
  padding: 8px 15px;
}

.products a:hover {
  background-color: #7a778c;
}

/* Footer
-----------------------------------------------*/
footer {
  padding-top: 250px;
}

footer h2 {
  text-decoration: underline;
}

.main-footer {
  background-color: #1d2540;
  color: #ffffff;
  padding-left: 15%;
}

.main__container {
  margin-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 30px;
}

.main-footer li {
  list-style: none;
}

.main-footer,
.main__container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 100px;
}

.information,
.social,
.support {
  text-decoration: underline;
  font-size: 21px;
}

.copyright-bottom {
  text-align: center;
  background-color: #1d2540;
  color: #fff;
  padding-top: 15px;
}

.main__container a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}

.main__container a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

/* Account Page 
-----------------------------------------------*/
.profile {
  display: grid;
  grid-template-columns: 1fr auto;
}

.myorders,
.myprofile {
  background-color: #fff;
  width: 700px;
  height: 375px;
  border: 1px solid black;
  margin: 60px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.myorders h2 {
  font-family: "Aleo", serif;
  margin: 10px;
}

.profile p {
  margin: 10px;
}

.myorders ol {
  margin: 10px;
  list-style: none;
  text-decoration: none;
  padding-top: 100px;
  line-height: 50px;
  color: blue;
}

.myprofile h2 {
  font-family: "Aleo", serif;
  margin: 10px;
}

.myprofile ol {
  margin: 10px;
  list-style: none;
  padding-top: 100px;
  line-height: 50px;
  color: blue;
}

/* Customer Support 
-----------------------------------------------*/
.support {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-decoration: none;
}

.chat,
.phone,
.email {
  background-color: #fff;
  width: 430px;
  height: 520px;
  margin: 60px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.support h2 {
  font-family: "Aleo", serif;
  margin: 10px;
}

.support p {
  margin: 10px;
  line-height: 50px;
  text-decoration: underline;
}

.chat,
.phone,
.email {
  font-family: "Work Sans", sans-serif;
}

.support ol {
  margin: 10px;
  list-style: none;
  line-height: 50px;
}

.cta-icon {
  font-size: 90px;
  color: #1d2540;
  text-align: center;
}

.cta-support {
  background-color: #1d2540;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
}

.cta-small-support {
  padding: 8px 30px;
  grid-column: 2;
  min-width: 50px;
}

.support-button {
  text-align: center;
  padding-top: 40px;
}

/* Sign Up/Sign In 
This is a sign up/sign in form i made is a placeholder because i cant make what i want without javascript.
-----------------------------------------------*/

.signupForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.signinForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.form {
  background-color: white;
  width: 800px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  border: 1px solid black;
}

.title {
  font-size: 45px;
  margin-bottom: 40px;
  font-family: "Aleo", serif;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
  margin-left: 30px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #dadce0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitButton {
  display: block;
  margin-left: 15%;
  padding: 15px 30px;
  border: none;
  background-color: #1d2540;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  width: 500px;
}

.submitButton:hover {
  background-color: #7a778c;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #1d2540;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.signup-question {
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
}

/* Sign Up Success 
-----------------------------------------------*/
.signsuccess {
  display: grid;
  text-align: center;
  width: 700px;
  height: 500px;
  background-color: white;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  margin: auto;
  margin-top: 80px;
}

.signsuccess i {
  font-size: 15vh;
  color: green;
}

.signsuccess a {
  padding: 8px 30px;
  min-width: 50px;
}

.sign-button {
  display: inline-block;
  text-align: center;
}

.sign-button .cta {
  margin-right: 40px;
  margin-left: 40px;
}

.resend-email {
  padding-bottom: 5vh;
  font-size: 13px;
}

.sign-button a:hover {
  background-color: #7a778c;
}

/* Product Page  
-----------------------------------------------*/

.product-box {
  color: black;
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 100px;
}

.information-box {
  color: black;
  background: #fff;
  width: 900px;
  height: 1200px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.tabs {
  width: 900px;
  height: 50px;
  background: #1d2540;
  margin: auto;
}

/* Unable to switch pages without javascript so i put hover as example until i learn javascript */
.tabs a {
  color: #fff;
  text-decoration: none;
}

.info-button {
  background-color: #1d2540;
  color: #fff;
  height: 50px;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px 20px;
}

.tabs a:hover {
  background-color: #7a778c;
}
.information {
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  margin: 20px 20px;
}

.information p {
  font-size: 15px;
  width: 10%;
}

.information h3 {
  font-size: 20px;
  text-decoration: underline;
}

.iframe-container {
  position: relative;
  width: auto;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.name-container {
  font-family: "Aleo", serif;
  margin: 20px 0px 0px 16%;
}

.buy-container {
  background-color: #1d2540;
  color: #fff;
  width: 350px;
  height: 150px;
  margin-top: 20%;
  margin-left: 78%;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  border-radius: 15px;
}

.buy-container i {
  color: green;
}

.storage {
  font-size: 12px;
}

.price-buy {
  padding: 7% 0% 10px 19%;
  margin-top: 7px;
}
.storage {
  padding: 10px 0% 0% 19%;
}

.cta-buy-page {
  background-color: #fff;
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
  cursor: pointer;
}

.cta-buy-small {
  padding: 8px 25% 8px 25%;
  display: inline-block;
  margin: 0% 19%;
}

.buy-container a:hover {
  background-color: #7a778c;
  color: #fff;
}

.shipping-box {
  width: auto;
  height: 40px;
  background-color: #1d2540;
  color: #fff;
  padding-top: 10px;
  padding-left: 9px;
}

.shipping-box i {
  color: #fff;
}

.shipping-container {
  background-color: #fff;
  color: black;
  width: auto;
  height: 130px;
  margin-top: 30%;
  border: 2px solid black;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.radio-buttons {
  margin-top: 10px;
  margin-left: 10px;
}

/* Market Page  
-----------------------------------------------*/

.market {
  display: grid;
  grid-template-columns: 1fr auto;
}

.sell-games {
  background-color: #fff;
  width: 700px;
  height: 375;
  border: 1px solid black;
  margin-left: 16%;
  margin-top: 58px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}

.sold-games {
  background-color: #fff;
  width: 400px;
  height: auto;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
  margin-top: 59px;
  margin-right: 200px;
  padding-bottom: 20px;
}

.select-box {
  width: 450px;
  height: 35px;
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 12px;
}

.select-box-2 {
  width: 450px;
  height: 35px;
  border: 1px solid black;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 12px;
}

.sell-games h4 {
  font-family: "Aleo", serif;
  margin: 10px;
}

.sell-game p {
  margin: 10px;
}

.sold-games h2 {
  font-family: "Aleo", serif;
  margin: 10px;
}

.sold-games img {
  width: 110px;
  height: 142px;
}

.game-sold {
  margin-left: 15px;
}

.sold-games hr {
  width: 320px;
  margin: 10px 40px 10px 40px;
}

.cta-sell {
  background-color: #1d2540;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
}

.cta-small-sell {
  padding: 8px 30px;
  grid-column: 2;
  min-width: 50px;
}

.support-sell a:hover {
  background-color: #7a778c;
}

.support-sell {
  text-align: center;
  padding-top: 25%;
}
