/* Colour Palette 
----------------------------------------------
Black: 							#0D0D0D
Page Background: 				#F2F2F2
Secondary Background Colour: 	#FFFFFF
Icons/buttons/header/footer:    #1D2540
Secondary Buttons/hoober: 		#7A778C
----------------------------------------------
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #f2f2f2;
}

header {
    background-color: #1d2540;
    padding: 60px;
    width: 1920px;
    height: 180px;
}

h3,
p {
    font-family: 'Work Sans', sans-serif;
    display: inline;
}

h1 {
    font-family: 'Aleo', serif;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
}

/* Navigation Bar 
----------------------------------------------------------*/
nav {
    display: flex;
    color: #ffffff;
    max-width: 100%;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px 30px;
    padding-top: 70px;
    transform: translateY(-50%);


}


nav .logo {
    cursor: pointer;
    display: flex;
    width: 250px;
    padding-right: 45px;
}

nav ol {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;

}

nav .search-box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
}

nav .search-box,
input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 5px 10px;
    font-size: 21px;
    width: 550px;
}

nav .search-box span {
    color: #1D2540;
    font-size: 21px;
    background: #ffffff;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

ul {
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 21px;
}

nav ul {
    padding: 0px;
}

.icons li {
    display: inline-block;
    padding: 20px 35px;
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.link {
    padding-top: 6px;
}



/* Products 
-----------------------------------------------*/

.featured {
    display: grid;
    max-width: 1300px;
    margin: 50px auto;
    grid-gap: 70px;
    grid-template-columns: repeat(3, auto);
}

.products {
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 5px;
}

.products h3 {
    grid-column: 1;
    font-size: 0.9em;
    margin: 5px;
}

.products img {
    grid-column: -1/1;
    width: 236px;
}

.featured-products {
    background-color: #fbfbfb;
}

.old-price {
    text-decoration: line-through;
}

.sale {
    color: red;
    display: grid;

}


/* Products Sale 
-----------------------------------------------*/


/* Product cta
-----------------------------------------------*/
.cta {
    background-color: #7A778C;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.cta-large {
    padding: 10px 40px;
}

.cta-small {
    padding: 8px 30px;
    font-size: 0.8em;
    grid-column: 2;
    min-width: 50px;
    text-align: center;
}











/* Footer
-----------------------------------------------*/
footer {
    background-color: #1d2540;
    color: #fff;
    width: 100%;
    height: auto;
    position: relative;
    padding-right: 1000px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);


}

footer .container-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer p {
    text-decoration: underline;
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
    ;
}